@charset "UTF-8";
/* MENÚ PRINCIPAL */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%; }
  header .logo {
    display: flex;
    flex-direction: row;
    margin-left: 5%; }
    header .logo h1 {
      font-family: "Poppins", sans-serif;
      font-weight: bolder;
      color: #00A3CC;
      margin-left: 10%; }
  header .navPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 700px;
    box-shadow: 5px 10px 18px #888888;
    border-end-end-radius: 40px;
    border-end-start-radius: 40px;
    border-start-start-radius: 40px;
    border-start-end-radius: 40px;
    background-color: #ffffff; }
    header .navPrincipal .ulPrincipal {
      padding: 0px 0px; }
      header .navPrincipal .ulPrincipal .aPrincipal {
        color: black;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-size: 17px;
        font-weight: 500; }
      header .navPrincipal .ulPrincipal .aPrincipal:hover {
        color: #00A3CC; }

body {
  font-family: "Poppins", sans-serif; }

* {
  margin: 0px;
  padding: 0px; }

h2 {
  font-family: "Poppins", sans-serif;
  color: #373F41;
  font-size: 48px;
  text-align: center;
  margin-top: 7%; }

.contenedor {
  background-color: #F1F3F8;
  width: 1350px;
  border-radius: 50%/100px 100px 0 0; }
  .contenedor .infoServicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5%;
    padding-top: 8%; }
    .contenedor .infoServicios .cardServicios {
      width: 25%; }
      .contenedor .infoServicios .cardServicios .infoCard {
        background-color: #00A3CC;
        width: 400px;
        height: 500px;
        border-radius: 20px; }
        .contenedor .infoServicios .cardServicios .infoCard h3 {
          font-family: "Poppins", sans-serif;
          color: white;
          font-size: 48px;
          font-weight: lighter;
          text-align: center;
          padding-top: 5%; }
        .contenedor .infoServicios .cardServicios .infoCard .inicioDescripción {
          font-family: "Poppins", sans-serif;
          color: white;
          font-size: 20px;
          text-align: center;
          padding-left: 5%;
          padding-right: 5%; }
        .contenedor .infoServicios .cardServicios .infoCard p {
          font-family: "Poppins", sans-serif;
          font-weight: lighter;
          color: white;
          font-size: 18px;
          text-align: justify;
          padding-top: 4%;
          padding-left: 4%;
          padding-right: 4%; }
      .contenedor .infoServicios .cardServicios .footerCard {
        background-color: white;
        border-radius: 15px;
        width: 400px;
        height: 60px;
        margin-top: -18%;
        box-shadow: 5px 10px 18px #888888; }
        .contenedor .infoServicios .cardServicios .footerCard .precioServicios {
          font-family: "Poppins", sans-serif;
          color: #FF8500;
          font-size: 30px;
          font-weight: 400;
          text-align: center;
          padding-top: 2%; }
  .contenedor .servicioSection .servicio1 {
    background-color: white;
    width: 900px;
    height: 220px;
    border-radius: 65px;
    margin-left: 5%;
    margin-bottom: 8%; }
    .contenedor .servicioSection .servicio1 h4 {
      color: #00A3CC;
      font-family: "Poppins", sans-serif;
      font-size: 30px;
      font-weight: 500;
      padding-left: 5%;
      padding-top: 3%;
      margin-top: 0%;
      margin-bottom: 0%; }
    .contenedor .servicioSection .servicio1 p {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      margin-bottom: 0px;
      padding-left: 5%; }
    .contenedor .servicioSection .servicio1 ul {
      padding-left: 15%;
      margin-top: 0px; }
      .contenedor .servicioSection .servicio1 ul li {
        font-family: "Poppins", sans-serif;
        font-size: 18px; }
  .contenedor .servicioSection .aspiradora {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    margin-top: 89%;
    margin-left: 60%;
    animation-name: animarDerecha; }
  .contenedor .servicioSection .barrer {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    margin-top: 137%;
    margin-left: 60%; }
  .contenedor .servicioSection .divServicios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .contenedor .servicioSection .divServicios .limpiaVidrios {
      height: 400px;
      width: 505px; }
    .contenedor .servicioSection .divServicios .servicio2 {
      background-color: white;
      width: 900px;
      height: 220px;
      border-radius: 65px;
      margin-left: 0%; }
      .contenedor .servicioSection .divServicios .servicio2 h4 {
        color: #00A3CC;
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 500;
        padding-left: 5%;
        padding-top: 3%;
        margin-top: 0%;
        margin-bottom: 0%; }
      .contenedor .servicioSection .divServicios .servicio2 p {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        margin-bottom: 0px;
        padding-left: 5%; }
      .contenedor .servicioSection .divServicios .servicio2 ul {
        padding-left: 15%;
        margin-top: 0px; }
        .contenedor .servicioSection .divServicios .servicio2 ul li {
          font-family: "Poppins", sans-serif;
          font-size: 18px; }
  .contenedor .servicioSection .divServicios2 {
    display: flex;
    justify-content: end;
    margin-top: 15%;
    padding-bottom: 15%; }
    .contenedor .servicioSection .divServicios2 .servicio2 {
      background-color: white;
      width: 900px;
      height: 220px;
      border-radius: 65px;
      margin-left: 0%; }
      .contenedor .servicioSection .divServicios2 .servicio2 h4 {
        color: #00A3CC;
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 500;
        padding-left: 5%;
        padding-top: 3%;
        margin-top: 0%;
        margin-bottom: 0%; }
      .contenedor .servicioSection .divServicios2 .servicio2 p {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        margin-bottom: 0px;
        padding-left: 5%; }
      .contenedor .servicioSection .divServicios2 .servicio2 ul {
        padding-left: 15%;
        margin-top: 0px; }
        .contenedor .servicioSection .divServicios2 .servicio2 ul li {
          font-family: "Poppins", sans-serif;
          font-size: 18px; }

@keyframes animarDerecha {
  0% {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0); }
  100% {
    transform: translate(100px, 0px);
    -webkit-transform: translate(100px, 0); } }

footer {
  display: grid;
  grid-template-columns: 1fr 30% 1fr;
  width: 1340px;
  height: 560px;
  background-color: #00A3CC;
  margin-top: 1200px; }
  footer .divFooter1 {
    display: grid;
    align-content: center;
    justify-content: start;
    justify-items: stretch; }
    footer .divFooter1 h2 {
      text-align: left;
      color: #ffffff;
      font-weight: 600;
      font-size: 30px;
      margin-left: 55px; }
    footer .divFooter1 p {
      color: #ffffff;
      margin-top: 18px;
      font-weight: 500px;
      font-size: 26px;
      margin-left: 55px;
      margin-bottom: 20px; }
    footer .divFooter1 ul {
      list-style-type: none;
      font-weight: 300px;
      font-size: 18px;
      margin-left: 38px; }
    footer .divFooter1 li {
      margin: 18px; }
    footer .divFooter1 a {
      text-decoration: none;
      color: #333333; }
  footer .divFooter2 {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: -110px; }
    footer .divFooter2 h4 {
      color: #ffffff;
      font-weight: 400;
      font-size: 30px;
      margin-bottom: 20px; }
  footer .divFooter3 {
    display: grid;
    align-items: center;
    justify-content: end;
    align-content: center;
    margin-top: -200px;
    margin-right: 35px; }
    footer .divFooter3 h4 {
      color: #ffffff;
      font-weight: 400;
      font-size: 30px;
      margin-bottom: 10px; }
    footer .divFooter3 .redes {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 15px; }

.logoAppStore {
  margin-bottom: 10px; }

.indexMain {
  display: flex; }
  .indexMain h2 {
    font-size: 50px;
    font-weight: 500px;
    text-align: center;
    margin-bottom: 40px; }
  .indexMain p {
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
    margin-bottom: 20px;
    color: #082830; }
  .indexMain img {
    display: flex;
    width: 720px;
    height: 810px; }

.imgIndexPrincipal {
  z-index: 1;
  margin-top: -130px;
  margin-right: 0px; }

.menuIndex {
  z-index: 2; }

.contenedorIndexTitulo {
  display: grid;
  align-content: center;
  margin-top: -250px; }

.botonesIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto; }
  .botonesIndex .boton1 {
    background-color: #00A3CC80;
    border-color: #00A3CC80;
    border-radius: 25px;
    width: 180px;
    height: 52px; }
  .botonesIndex .boton2 {
    background-color: #00A3CC;
    border-color: #00A3CC;
    border-radius: 25px;
    width: 180px;
    height: 52px; }
  .botonesIndex a {
    font-size: 16px;
    font-weight: 500px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    text-align: center; }

.contenedorIndexPrimeraSeccion {
  margin-top: 200px;
  background-color: #F1F3F8;
  width: 1348px;
  height: 1800px;
  border-radius: 50%/100px 100px 0 0;
  position: relative; }

.cardsIndex {
  display: grid;
  justify-items: stretch;
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  width: 970px;
  height: 347px;
  border-radius: 25px;
  position: absolute; }
  .cardsIndex .imgIndexCards {
    position: absolute;
    margin-top: -40px;
    margin-left: 30px; }
    .cardsIndex .imgIndexCards img {
      width: 430px;
      height: 460px;
      border-radius: 25px;
      margin-bottom: -20px; }

.cardIndex1 {
  justify-content: end;
  margin-left: 40px;
  margin-top: 200px; }

.cardIndex2 {
  justify-content: start;
  margin-left: 350px;
  margin-top: 800px; }
  .cardIndex2 img {
    margin-left: 480px; }

.cardIndex3 {
  justify-content: end;
  margin-left: 40px;
  margin-top: 1350px; }

.textoIndexCard {
  margin: 70px; }

.segundaSeccionIndex {
  margin-top: 200px; }
  .segundaSeccionIndex h4 {
    color: #000;
    text-align: center;
    font-size: 48px;
    margin-bottom: 200px; }
  .segundaSeccionIndex span {
    color: #FF8500; }

.contenedorFuncionamiento {
  position: relative;
  margin-top: 150%;
  width: 1123px;
  height: 337px;
  width: 90%;
  margin: 0 auto; }

.miniCardBusca {
  display: flex;
  position: absolute;
  width: 182px;
  height: 337px; }
  .miniCardBusca .circuloCard {
    position: absolute;
    background-color: #00A3CC;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px; }
    .miniCardBusca .circuloCard img {
      position: absolute;
      margin: 25px; }
  .miniCardBusca hr {
    background-color: #00A3CC;
    height: 2.5px;
    width: 890%;
    position: absolute;
    margin-top: 50px;
    margin-left: 115px; }
  .miniCardBusca .textoCard {
    margin-top: 150px; }
    .miniCardBusca .textoCard h5 {
      font-size: 36px;
      color: #000;
      text-align: center; }
    .miniCardBusca .textoCard p {
      font-size: 18px;
      color: #1E1B1B;
      text-align: center; }

.miniCardAgenda {
  display: flex;
  position: absolute;
  width: 182px;
  height: 337px;
  margin-left: 350px; }
  .miniCardAgenda .circuloCard {
    position: absolute;
    background-color: #00A3CC;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px; }
    .miniCardAgenda .circuloCard img {
      position: absolute;
      margin: 25px; }
  .miniCardAgenda .textoCard {
    margin-top: 150px; }
    .miniCardAgenda .textoCard h5 {
      font-size: 36px;
      color: #000;
      text-align: center; }
    .miniCardAgenda .textoCard p {
      font-size: 18px;
      color: #1E1B1B;
      text-align: center; }

.miniCardPaga {
  display: flex;
  position: absolute;
  width: 182px;
  height: 337px;
  margin-left: 700px; }
  .miniCardPaga .circuloCard {
    position: absolute;
    background-color: #00A3CC;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px; }
    .miniCardPaga .circuloCard img {
      position: absolute;
      margin: 32px; }
  .miniCardPaga .textoCard {
    margin-top: 150px; }
    .miniCardPaga .textoCard h5 {
      font-size: 36px;
      color: #000;
      text-align: center; }
    .miniCardPaga .textoCard p {
      font-size: 18px;
      color: #1E1B1B;
      text-align: center; }

.miniCardDescansa {
  display: flex;
  position: absolute;
  width: 182px;
  height: 337px;
  margin-left: 1050px; }
  .miniCardDescansa .circuloCard {
    position: absolute;
    background-color: #00A3CC;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px; }
    .miniCardDescansa .circuloCard img {
      position: absolute;
      margin: 35px; }
  .miniCardDescansa .textoCard {
    margin-top: 150px; }
    .miniCardDescansa .textoCard h5 {
      text-align: center;
      font-size: 36px;
      color: #000; }
    .miniCardDescansa .textoCard p {
      font-size: 18px;
      color: #1E1B1B;
      text-align: center; }

main h2 {
  color: #373F41;
  font-size: 48px; }

main p {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  text-align: start;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px; }

.containerBorde {
  position: absolute;
  background-color: #fff;
  width: 1345px;
  height: 163px;
  z-index: 1;
  border-radius: 0 0 50% 50%; }

.containerNosotros {
  width: 1345px;
  height: 657px;
  background-color: #f1f3f8;
  position: relative; }
  .containerNosotros .containerTextos {
    position: absolute;
    color: #000000;
    margin-top: 300px;
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 3fr; }
    .containerNosotros .containerTextos h3 {
      font-size: 30px; }
    .containerNosotros .containerTextos p {
      font-size: 18px;
      margin-top: 20px; }

.seccionHistorias {
  position: relative; }
  .seccionHistorias h2 {
    color: #00A3CC;
    font-size: 48px;
    font-weight: normal; }
  .seccionHistorias .cardOpiniones {
    position: absolute;
    width: 450px;
    height: 298px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 8px 8px 8px 8px #d3d4d4; }
    .seccionHistorias .cardOpiniones h3 {
      font-size: 26px;
      margin-top: 40px;
      margin-left: 20px; }
    .seccionHistorias .cardOpiniones p {
      font-size: 18px;
      margin-top: 15px;
      margin-left: 20px; }
  .seccionHistorias .cardEstrellas {
    position: absolute;
    width: 204px;
    height: 54px;
    background-color: #00A3CC;
    border-radius: 25px;
    margin-left: 260px;
    margin-top: -25px; }
    .seccionHistorias .cardEstrellas img {
      margin-left: 15px;
      margin-top: 15px; }

.cardOpiniones1 {
  margin-left: 30px;
  margin-top: 150px; }

.cardOpiniones2 {
  margin-top: 150px;
  margin-left: 700px; }

.cardOpiniones3 {
  margin-top: 650px;
  margin-left: 250px; }

.cardOpiniones4 {
  margin-top: 650px;
  margin-left: 870px; }
