@charset "UTF-8";
/* MENÚ PRINCIPAL */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
}

header .logo h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #00A3CC;
  margin-left: 10%;
}

header .navPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 700px;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  border-end-end-radius: 40px;
  border-end-start-radius: 40px;
  border-start-start-radius: 40px;
  border-start-end-radius: 40px;
}

header .navPrincipal .ulPrincipal {
  padding: 0px 0px;
}

header .navPrincipal .ulPrincipal .aPrincipal {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

header .navPrincipal .ulPrincipal .aPrincipal:hover {
  color: #00A3CC;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #373F41;
  font-size: 48px;
  text-align: center;
  margin-top: 7%;
}

.contenedor {
  background-color: #F1F3F8;
  width: 1350px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.contenedor .infoServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 5%;
  padding-top: 8%;
}

.contenedor .infoServicios .cardServicios {
  width: 25%;
}

.contenedor .infoServicios .cardServicios .infoCard {
  background-color: #00A3CC;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.contenedor .infoServicios .cardServicios .infoCard h3 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 48px;
  font-weight: lighter;
  text-align: center;
  padding-top: 5%;
}

.contenedor .infoServicios .cardServicios .infoCard .inicioDescripción {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.contenedor .infoServicios .cardServicios .infoCard p {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 18px;
  text-align: justify;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.contenedor .infoServicios .cardServicios .footerCard {
  background-color: white;
  border-radius: 15px;
  width: 400px;
  height: 60px;
  margin-top: -18%;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
}

.contenedor .infoServicios .cardServicios .footerCard .precioServicios {
  font-family: "Poppins", sans-serif;
  color: #FF8500;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding-top: 2%;
}

.contenedor .servicioSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contenedor .servicioSection .servicio1 {
  background-color: white;
  width: 900px;
  height: 220px;
  border-radius: 65px;
  margin-left: 5%;
}

.contenedor .servicioSection .servicio1 h4 {
  color: #00A3CC;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding-left: 5%;
  padding-top: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.contenedor .servicioSection .servicio1 p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 0px;
  padding-left: 5%;
}

.contenedor .servicioSection .servicio1 ul {
  padding-left: 15%;
  margin-top: 0px;
}

.contenedor .servicioSection .servicio1 ul li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */