h2{
    margin-top: 5%;
}

.informacionContactos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;

        .infoContactos{
            text-align: center;

                h5{
                    font-size: 18px;
                    color: $colorPrincipal;
                    font-weight: lighter;
                    margin-bottom: 10%;
                }

                .imagenInstagramContactos{
                    color: $colorPrincipal;
                }

                .imagenesRedes{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .imagenInstagramContactos{
                        width: 30px;
                        height: 30px;
                    }

                    .imagenFacebookContactos{
                        width: 30px;
                        height: 30px;
                    }
                }
        }
}

.formularioContacto{
    background-color: #F1F3F8;
    border-radius: 50%/100px 100px;
        h2{
            padding-top: 3%;
            padding-bottom: 3%;
        }

        iframe{
            margin-left: 27%;
            padding-bottom: 5%;
        }

        .botonResponsive{
            display: none;
        }
}

@media (max-width: 640px){
    h2{
        font-size: 26px;
    }

    .informacionContactos{
        flex-direction: column;

        .infoContactos{

            h5{
                margin-bottom: 0%;
            }

            p{
                margin-bottom: 5%;
            }

            .imagenesRedes{
                justify-content: center;
            }
        }
    }

    .formularioContacto{
        background-color: #F1F3F8;
        border-radius: 30%/100px 100px;
        padding-top: 0%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2{
            padding-top: 0%;
            padding-bottom: 0%;
        }

        iframe{
            display: none;
        }

        .botonResponsive{
            display: flex;
            justify-content: center;
            background-color: $colorPrincipal;
            width: 280px;
            height: 40px;  
            margin-left: 10%    ; 
            border: none;
            border-end-end-radius: 40px;
            border-end-start-radius: 40px;
            border-start-start-radius: 40px;
            border-start-end-radius: 40px;

            a{
                font-family: $fuente;
                color: #ffffff;
                text-decoration: none;
                margin-top: 2%;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 2%;
            }
        }
    }
}