//Estilos index Main
.mainIndex {
    position: relative;
    display: flex;
    width: 90%;
    margin: 0 auto;
        .indexMain {
            display: grid;
            grid-template-columns: 2fr 50%;
            @media (min-width: 280px) and (max-width: 640px) {
                display: flex;
            }
                h2{
                    font-size: 50px;
                    font-weight: 500px;
                    text-align: center;
                    margin-bottom: 40px;
                    @media (min-width: 280px) and (max-width: 640px) {
                        font-size: 24px;
                        margin-top: 40px;
                        margin-bottom: 10px;
                    }      
                }
                p {
                    font-size: 20px;
                    font-weight: 400px;
                    text-align: center;
                    margin-bottom: 20px;
                    color: #082830;
                    @media (min-width: 280px) and (max-width: 640px) {
                        font-size: 16px;
                        margin-top: -2px;  
                    }
                }   
    
                    img {
                        display: flex;
                        @media (min-width: 280px) and (max-width: 640px) {
                            display: none;  
                        }
                    }  
}
}
.imgIndexPrincipal {
    z-index: 1;
    margin-top: -180px;
    margin-right: 0px;
}

.menuIndex{
    z-index: 2;
}

.contenedorIndexTitulo {
    margin-top: 20%;
    @media (min-width: 280px) and (max-width: 640px) {
        margin-top: 0;
    }  
}

.botonesIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    
        .boton1 {
            background-color: #00A3CC80;
            border-color: #00A3CC80;
            border-radius: 25px;
            width: 180px;
            height: 52px;
            @media (min-width: 280px) and (max-width: 640px) {
                width: 160px;
                height: 42px; 
            } 
        }

        .boton2 {
            background-color: $colorPrincipal;
            border-color: $colorPrincipal;
            border-radius: 25px;
            width: 180px;  
            height: 52px;
            @media (min-width: 280px) and (max-width: 640px) {
                width: 160px;
                height: 42px;              
            }
        }
            a {
                font-size: 16px;
                font-weight: 500px;
                text-transform: uppercase;
                text-decoration: none;
                color: #ffffff;
                text-align: center;
                @media (min-width: 280px) and (max-width: 640px) {
                    font-size: 14px;
                }  
            }
}

//Estilo boton whatsapp
.seccionContainerWpp { 
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 80%;
    margin-top: -10%;
    @media (min-width: 280px) and (max-width: 640px) {
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 0%;
        margin-top: 0%;
    }
        .boton-whatsapp {
            display: flex;
            position: absolute;
            background-color: #fff;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            z-index: 2;
            @media (min-width: 280px) and (max-width: 640px) {
                margin-top: 30%;
                margin-right: 40%;    
            }

                img {
                    margin: 35%;
                }
        }
}
// Estilos Index sección cards
.contenedorIndexPrimeraSeccion {
    margin-top: 20%;
    background-color: #F1F3F8;
    width: 1500px;
    height: 1800px;
    border-radius: 50%/100px 100px 0 0;
    position: relative;
    @media (min-width: 280px) and (max-width: 640px) {
        background-color: $colorBlanco; 
        width: 90%;
        margin: 0 auto;
        margin-top: 80px; 
    }
}

.cardsIndex {
    display: grid;
    justify-items: stretch;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    width: 970px;
    height: 347px;
    border-radius: 25px;
    position: absolute;
    box-shadow: 8px 8px 8px 8px #d3d4d4;
    @media (min-width: 280px) and (max-width: 640px) {
        width: 327px;
        height: 333px;
        position: relative;
    }  

        .imgIndexCards {
            position: absolute;
            margin-top: -40px;
            margin-left: 30px;
            @media (min-width: 280px) and (max-width: 640px) {
                position: relative;
                margin-top: 0px;
                margin-left: 0px;  
           }
        
            img {
                width: 450px;
                height: 450px;
                border-radius: 25px;
                margin-bottom: -20px;
                @media (min-width: 280px) and (max-width: 640px) {
                     width: 327px;
                     height: 194px;  
                }
            }
        }
}

.cardIndex1 {    
    justify-content: end;
    margin-left: 40px;
    margin-top: 200px;
    @media (min-width: 280px) and (max-width: 640px) {
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 70px;  
   }    
}

.cardIndex2 {
    justify-content: start;
    margin-left: 350px;
    margin-top: 800px;
    @media (min-width: 280px) and (max-width: 640px) {
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 70px;
   }    
    
        img {
            margin-left: 480px;
            @media (min-width: 280px) and (max-width: 640px) {
                margin-left: 0px;  
           }    
        }
}

.cardIndex3 {
    justify-content: end;
    margin-left: 40px;
    margin-top: 1350px;
    @media (min-width: 280px) and (max-width: 640px) {
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 70px;  
   }        
}

.textoIndexCard {
        h3 {
        @media (min-width: 280px) and (max-width: 640px) {
        font-size: 18px;
        }        
        }
        
        p {
        @media (min-width: 280px) and (max-width: 640px) {
        font-size: 14px;
        }
        }
}

.textoIndexCard1 {
    width: 80%;
    margin: 0 auto;
    text-align: start;
    @media (min-width: 280px) and (max-width: 640px) {
        width: 95%;
        margin: 15px;  
   }
}

.textoIndexCard2 {
    width: 60%;
    margin: 0 auto;
    margin-left: 50px;
    @media (min-width: 280px) and (max-width: 640px) {
        width: 95%;
        margin: 15px;  
   }
}

.textoIndexCard3 {
    width: 90%;
    margin: 0 auto;
    margin-right: 50px;
    @media (min-width: 280px) and (max-width: 640px) {
        width: 95%;
        margin: 20px;  
   }
}

//Estilos index segunda sección
.segundaSeccionIndex {
    margin-top: 20%;
    margin-bottom: 40%;
        h4 {
            color: #000;
            text-align: center;
            font-size: 48px;
            margin-bottom: 200px;
        @media (min-width: 280px) and (max-width: 640px) {
            font-size: 20px;
            margin-top: 300px;
            margin-bottom: 20px;  
           }    
        }
            span {
                color: $colorSecundario
            }
}

.contenedorFuncionamiento {
    position: relative;
    margin-top: 150%;
    width: 1123px;
    height: 337px;
    width: 90%;
    margin: 0 auto;
    @media (min-width: 280px) and (max-width: 640px) {
        width: 206px;
        height: 836px;
        margin-top: -900px;  
   }
}

.miniCard {
    display: flex;
    position: absolute;
    width: 182px;
    height: 337px;
    @media (min-width: 280px) and (max-width: 640px) {
        width: 206px;
        height: 153px;
        flex-direction: column;
        position: relative;  
   }
        .circuloCard {
            position: absolute;
            background-color: $colorPrincipal;
            width: 117px;
            height: 117px;
            border-radius: 50%;
            margin-left: 30px;
            margin-top: 20px;
            @media (min-width: 280px) and (max-width: 640px) {
                width: 45px;
                height: 45px;
                margin-left: 80px;  
           }

                img {
                    position: absolute;
                    margin: 25px;
                    @media (min-width: 280px) and (max-width: 640px) {
                        width: 24px;
                        height: 24px;
                        margin: 10px;
                    }
                }

                hr {
                    background-color: $colorPrincipal;
                    height: 2.5px;
                    width: 210%;
                    position: absolute;
                    margin-top: 50px;
                    margin-left: 115px;
                    @media (min-width: 280px) and (max-width: 640px) {
                        border: none;
                        border-left: 1px solid hsla(200, 10%, 50%, 100);
                        height: 5vh;
                        width: 1px;
                        margin-left: 22px;
                        margin-top: 150px;  
                    }
                }                    
    }
}

        .textoCard {
            margin-top: 150px;
            @media (min-width: 280px) and (max-width: 640px) {
                margin-top: 70px;  
           } 
                        
                h5 {
                    font-size: 36px;
                    color: #000;
                    text-align: center;
                    @media (min-width: 280px) and (max-width: 640px) {
                        font-size: 18px;
                        margin-top: 10px;  
                   }
                }
        
                p {
                    font-size: 18px;
                    color: #1E1B1B;
                    text-align: center;
                    @media (min-width: 280px) and (max-width: 640px) {
                        font-size: 14px; 
                        margin-top: 15px; 
                   }
                }
        }

.miniCardBusca {
    @media (min-width: 280px) and (max-width: 640px) {
        margin-bottom: -20px;
}
}

.miniCardAgenda {
    margin-left: 350px;
    @media (min-width: 280px) and (max-width: 640px) {
        margin-left: 0px;
        margin-top: 30%;  
   }
    
        .circuloCard {
                hr {
                @media (min-width: 280px) and (max-width: 640px) {
                        margin-top: 170px;  
                   }
                }
    }
   
}

.miniCardPaga {
    margin-left: 700px;
    @media (min-width: 280px) and (max-width: 640px) {
        margin-left: 0px;  
        margin-top: 30%;
   }    
        .circuloCard {
            img {
                margin: 25px;
                @media (min-width: 280px) and (max-width: 640px) {
                    margin: 10px;  
               }    
            }
            hr {
                @media (min-width: 280px) and (max-width: 640px) {
                        margin-top: 170px;  
                   }
                }    
        }
}

.miniCardDescansa {
    margin-left: 1050px;
    @media (min-width: 280px) and (max-width: 640px) {
        margin-left: 0px;
        margin-top: 30%;  
   }
        .circuloCard {
            img {
                margin: 35px;
                @media (min-width: 280px) and (max-width: 640px) {
                    margin: 10px;  
               }
            }
    }
}