main {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
        h2 {
            color: $colorTexto;
            font-size: 48px;
            width: 90%;
            margin: 0 auto;
            @media (min-width: 280px) and (max-width: 640px) {
                font-size: 20px;
                }
        }

        p {
            color: #000000;
            font-size: 18px;
            font-weight: normal;
            text-align: start;
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            @media (min-width: 280px) and (max-width: 640px) {
                font-size: 14px;
                text-align: center;
                margin-top: 20px;
            }
        }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0,2;
    }
    40% {
        opacity: 0,4;
    }
    60% {
        opacity: 0,6;
    }
    80% {
        opacity: 0,8;
    }
    100% {
        opacity: 1;
    }
}

.historiaNosotros {
    animation-duration: 5s;
    animation-name: aparecer;
}

.seccionNosotros {
        @media (min-width: 280px) and (max-width: 640px) {
            width: 90%;
            margin: 0 auto;
        }
}

.containerBorde {
    position: absolute;
    background-color: #fff;
    width: 1345px;
    height: 163px;
    z-index: 1;
    border-radius: 0 0 50% 50%;
    @media (min-width: 280px) and (max-width: 640px) {
        height: 49px;
        width: 90%;
        margin: 0 auto;
    }
}

.containerNosotros {
    width: 1345px;
    height: 657px;
    background-color: #f1f3f8;
    position: relative;
    @media (min-width: 280px) and (max-width: 640px) {
        width: 90%;
        margin: 0 auto;
    }

        .containerTextos {
            position: absolute;
            color: #000000;
            margin-top: 300px;
            text-align: center;
            display: grid;
            grid-template-columns: 5fr 3fr;
            @media (min-width: 280px) and (max-width: 640px) {
                display: flex;
                flex-direction: column;
                width: 99%;
                margin: 0 auto;
                margin-top: 90px;
            }

            .textoMision {
                @media (min-width: 280px) and (max-width: 640px) {
                    margin-top: -20px;
                }
            }

            .textoVision {
                @media (min-width: 280px) and (max-width: 640px) {
                    margin-top: 20px;
                }
            }

                    h3 {
                        font-size: 30px;
                        @media (min-width: 280px) and (max-width: 640px) {
                        font-size: 18px;
                        }
                    }

                    p {
                        font-size: 18px;
                        margin-top: 20px;
                        @media (min-width: 280px) and (max-width: 640px) {
                            font-size: 14px;
                        }
                    }
        }

}

.seccionHistorias {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80%;
    @media (min-width: 280px) and (max-width: 640px) {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 350%;
    } 
       h2 {
            color: $colorPrincipal;
            font-size: 48px;
            font-weight: normal;
            margin-top: 10%;
            margin-bottom: 5%;
            @media (min-width: 280px) and (max-width: 640px) {
                font-size: 20px;
            }
        }

        .cardOpiniones {
            position: absolute;
            width: 450px;
            height: 298px;
            background-color: #fff;
            border-radius: 25px;
            box-shadow: 8px 8px 8px 8px #d3d4d4;
            @media (min-width: 280px) and (max-width: 640px) {
                width: 333px;
                height: 230px;
            }

             h3 {
                 font-size: 26px;
                 margin-top: 40px;
                 margin-left: 20px;
                 @media (min-width: 280px) and (max-width: 640px) {
                    font-size: 18px;
                    margin-top: 20px;
                }
             }

             p {
                font-size: 18px;
                margin-top: 15px;
                margin-left: 20px;
                @media (min-width: 280px) and (max-width: 640px) {
                    font-style: 14px;
                }
                    img{
                        @media (min-width: 280px) and (max-width: 640px) {
                            display: none;
                        }
                    }
             }
        }

            .cardEstrellas {
                position: absolute;
                width: 204px;
                height: 54px;
                background-color: $colorPrincipal;
                border-radius: 25px;
                margin-left: 260px;
                margin-top: -25px;
                @media (min-width: 280px) and (max-width: 640px) {
                    width: 147px;
                    height: 36px;
                    margin-top: -20px;
                    margin-left: 220px;
                }

                    img {
                        margin-left: 15px;
                        margin-top: 15px;
                        @media (min-width: 280px) and (max-width: 640px) {
                            margin-left: 5px;
                            margin-top: 8px;
                        }
                    }       
            }
}

.cardOpiniones1 {
    margin-left: 5%;
    margin-top: 10%;
    @media (min-width: 280px) and (max-width: 640px) {
        margin-top: 40px;
    }
}

.cardOpiniones2 {
    margin-top: 10%;
    margin-left: 60%;
    @media (min-width: 280px) and (max-width: 640px) {
        margin-top: 360px;
        margin-left: 30px;
    }
}

.cardOpiniones3 {
    margin-top: 50%;
    margin-left: 15%;
    @media (min-width: 280px) and (max-width: 640px) {
        margin-top: 680px;
        margin-left: 30px;
    }
}

.cardOpiniones4 {
    margin-top: 50%;
    margin-left: 65%;
    @media (min-width: 280px) and (max-width: 640px) {
        margin-top: 1000px;
        margin-left: 30px;
    }
}