h2{
    font-family: $fuente;
    color: $colorTexto;
    font-size: 48px;
    text-align: center;
    margin-top: 7%;
}

h6{
    font-family: $fuente;
    color: $colorTexto;
    font-size: 48px;
    text-align: center;
    margin-top: 5%;  
}

.contenedor{
    background-color: #F1F3F8;
    width: 1350px;
    border-radius: 50%/100px 100px 0 0;

    .infoServicios{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        margin-right: 5%;
        padding-top: 8%;

        .cardServicios{
            width: 25%;

            .infoCard{
                background-color: $colorPrincipal;
                width: 400px;
                height: 500px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3{
                    font-family: $fuente;
                    color: white;
                    font-size: 48px;
                    font-weight: lighter;
                    text-align: center;
                    padding-top: 5%;
                }

                .inicioDescripci贸n{
                    font-family: $fuente;
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    padding-left: 5%;
                    padding-right: 5%;
                }

                p{
                    font-family: $fuente;
                    font-weight: lighter;
                    color: white;
                    font-size: 18px;
                    text-align:justify;
                    padding-top: 4%;
                    padding-left: 4%;
                    padding-right: 4%;
                }

                .footerCard{
                    background-color: white;
                    border-radius: 15px;
                    width: 400px;
                    height: 60px;
                    box-shadow: 5px 10px 18px #888888;
    
                    .precioServicios{
                        font-family: $fuente;
                        color: $colorSecundario;
                        font-size: 30px;
                        font-weight: 400;
                        text-align: center;
                        padding-top: 2%;
                    }
                }
            }

            .infoCard2{
                background-color: $colorPrincipal;
                width: 400px;
                height: 500px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3{
                    font-family: $fuente;
                    color: white;
                    font-size: 48px;
                    font-weight: lighter;
                    text-align: center;
                    padding-top: 5%;
                }

                .inicioDescripci贸n{
                    font-family: $fuente;
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    padding-left: 5%;
                    padding-right: 5%;
                }

                p{
                    font-family: $fuente;
                    font-weight: lighter;
                    color: white;
                    font-size: 18px;
                    text-align:justify;
                    padding-top: 4%;
                    padding-left: 4%;
                    padding-right: 4%;
                }

                .footerCard{
                    background-color: white;
                    border-radius: 15px;
                    width: 400px;
                    height: 60px;
                    box-shadow: 5px 10px 18px #888888;
    
                    .precioServicios{
                        font-family: $fuente;
                        color: $colorSecundario;
                        font-size: 30px;
                        font-weight: 400;
                        text-align: center;
                        padding-top: 2%;
                    }
                }
            }
        }
    }

    .servicioSection{
        .servicio1{
            background-color: white;
            width: 900px;
            height: 220px;
            border-radius: 65px;
            margin-left: 5%;
            margin-bottom: 8%;

                h4{
                    color: $colorPrincipal;
                    font-family: $fuente;
                    font-size: 30px;
                    font-weight: 500;
                    padding-left: 5%;
                    padding-top: 3%;
                    margin-top: 0%;
                    margin-bottom: 0%;
                }

                p{
                    font-family: $fuente;
                    font-size: 18px;
                    margin-bottom: 0px;
                    padding-left: 5%;
                }

                ul{
                    padding-left: 15%;
                    margin-top: 0px;

                    li{
                        font-family: $fuente;
                        font-size: 18px;
                    }
                }
        }

        .aspiradora{
            position:absolute; 
            left:0px;
            top:0px;
            z-index: 2;
            margin-top: 85%;
            margin-left: 60%;
            animation-duration: 3s;
            animation-name: animarDerecha;
        }

        .barrer{
            position:absolute; 
            left:0px;
            top:0px;
            z-index: 2;
            margin-top: 133%;
            margin-left: 60%;
            animation-duration: 3s;
            animation-name: animarDerecha;
        }

        .divServicios{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .limpiaVidrios{
                height: 400px;
                width: 505px;
                animation-duration: 3s;
                animation-name: animarIzquierda;
            }

            .servicio2{
                background-color: white;
                width: 900px;
                height: 220px;
                border-radius: 65px;
                margin-left: 0%;
                
                    h4{
                        color: $colorPrincipal;
                        font-family: $fuente;
                        font-size: 30px;
                        font-weight: 500;
                        padding-left: 5%;
                        padding-top: 3%;
                        margin-top: 0%;
                        margin-bottom: 0%;
                    }
        
                    p{
                        font-family: $fuente;
                        font-size: 18px;
                        margin-bottom: 0px;
                        padding-left: 5%;
                    }
        
                    ul{
                        padding-left: 15%;
                        margin-top: 0px;
        
                        li{
                            font-family: $fuente;
                            font-size: 18px;
                        }
                    }
            }   
        }

        .divServicios2{
            display: flex;
            justify-content: end;
            margin-top: 15%;
            padding-bottom: 15%;

            .servicio2{
                background-color: white;
                width: 900px;
                height: 220px;
                border-radius: 65px;
                margin-left: 0%;
                
                    h4{
                        color: $colorPrincipal;
                        font-family: $fuente;
                        font-size: 30px;
                        font-weight: 500;
                        padding-left: 5%;
                        padding-top: 3%;
                        margin-top: 0%;
                        margin-bottom: 0%;
                    }
        
                    p{
                        font-family: $fuente;
                        font-size: 18px;
                        margin-bottom: 0px;
                        padding-left: 5%;
                    }
        
                    ul{
                        padding-left: 15%;
                        margin-top: 0px;
        
                        li{
                            font-family: $fuente;
                            font-size: 18px;
                        }
                    }
            }   
        }

    }   
}

@keyframes animarDerecha {
    from {
        margin-left: 0%;
    }
  
    to {
        margin-left: 60%;
    }
  }

  @keyframes animarIzquierda {
    from {
        margin-left: 60%;
    }
  
    to {
        margin-left: 0%;
    }
  }

  @media (max-width: 790px){
      .tituloServicios{
          display: none;
      }

      h6{
          font-size: 26px;
          font-weight: lighter;
          margin-left: 8%;
          margin-bottom: 3%;
          margin-top: 5%;
          text-align: center;
      }

      .contenedor{
          width: 100%;
          flex-wrap: wrap;

          .infoServicios{
              flex-wrap: wrap;
              margin-right: 0%;

              .cardServicios{
                  margin-bottom: 3%;
                  width: 95%;
                  
                  .infoCard{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 420px;
                    

                      h3{
                          font-size: 26px;
                      }
                      .inicioDescripci贸n{
                          font-size: 16px;
                          align-items: center;
                          margin-bottom: 10%;
                      }

                      p{
                          font-size: 16px;
                      }

                      .footerCard{
                        width: 100%;
                            .precioServicios{
                                font-size: 26px;
                                padding-top: 4%;
                            }
                        
                      }
                  }

                  .infoCard2{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 380px;

                      h3{
                          font-size: 26px;
                      }
                      .inicioDescripci贸n{
                          font-size: 16px;
                          align-items: center;
                          margin-bottom: 10%;
                      }

                      p{
                          font-size: 16px;
                      }

                      .footerCard{
                        width: 100%;
                            .precioServicios{
                                font-size: 26px;
                                padding-top: 4%;
                            }
                        
                      }
                  }

              }
          }

          .servicioSection{
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;

            .aspiradora{
                display: none;
            }

            .barrer{
                display: none;
            }

            .servicio1{
                width: 85%;
                height:max-content;
                margin-left: 0%;
                padding-left: 3%;
                padding-right: 5%;
                padding-top: 3%;
                padding-bottom: 3%;
                margin-top: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                

                h4{
                    font-size: 22px;
                    margin-bottom: 7%;
                }
            }

            .divServicios{
                margin-bottom: 0%;
                margin-top: 0%;
                display: flex;
                flex-direction: column;

                .limpiaVidrios{
                    display: none;
                }

                .servicio2{
                    width: 90%;
                    height: 320px;
                    margin-left: 0%;
                    padding-top: 6%;
                    padding-left: 1%;
                    margin-top: 0%;

                    h4{
                        font-size: 22px;
                        margin-bottom: 7%;
                    }
                }
            }

            .divServicios2{
                justify-content: center;
                width: 95%;
                margin-top: 0%;
                margin-left: 0%;
                .servicio2{
                    height: 95%;
                    margin-left: 2%;
                    padding-top: 6%;
                    padding-left: 1%;
                    margin-left: 0%;
                    margin-top: 0%;

                    h4{
                        font-size: 22px;
                        margin-bottom: 7%;
                    }
                }
            }
      }

      }
  }